<!-- _includes/hackathonss.html -->
<div class="grid-sizer"></div>
<div class="grid-item">
  {% if hackathons.redirect -%}
  <a href="{{ hackathons.redirect }}">
    {%- else -%}
    <a href="{{ hackathons.url | relative_url }}">
      {%- endif %}
      <div class="card hoverable">
        {%- if hackathons.img %}
        {%- include figure.html
          path=hackathons.img
          alt="hackathons thumbnail" -%}
        {%- endif %}
        <div class="card-body">
          <h2 class="card-title text-lowercase">{{ hackathons.title }}</h2>
          <p class="card-text">{{ hackathons.description }}</p>
          <div class="row ml-1 mr-1 p-0">
            {%- if hackathons.github -%}
            <div class="github-icon">
              <div class="icon" data-toggle="tooltip" title="Code Repository">
                <a href="{{ hackathons.github }}"><i class="fab fa-github gh-icon"></i></a>
              </div>
              {%- if hackathons.github_stars -%}
              <span class="stars" data-toggle="tooltip" title="GitHub Stars">
                <i class="fas fa-star"></i>
                <span id="{{ hackathons.github_stars }}-stars"></span>
              </span>
              {%- endif %}
            </div>
            {%- endif %}
          </div>
        </div>
      </div>
    </a>
</div>
